@media(max-width: 1200px) {
  .container {
      max-width: 960px;
  }
  .header__list{
    column-gap: 10px;
  }
  .header__list2{
    column-gap: 15px;
  }
}

@media(max-width: 992px) {
  .container {
      max-width: 720px;
  }
  .header__nav .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
  .logo{
    max-width: 169px;
    max-height: 24px;
  }
  .header__list{
    column-gap: 30px;
  }
  .header__list2{
    column-gap: 30px;
  }
  .banner .container{
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .news__items{
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .footer .container{
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
  .footer__list ,.footer__list__contacts{
    align-items: center;
  }
}

@media(max-width: 768px) {
  .container {
      max-width: 540px;
  }
.header__list{
  flex-wrap: wrap;
  justify-content: center;
}
.banner__right__item1-img{
  max-width: 150px;
}
.banner__right{
  column-gap: 0px;
}
.banner__left__item1{
  column-gap: 0;
}
.banner__left__item2{
  column-gap: 0;
}
.banner__left__item1-img{
  padding: 0;
  margin: 0;
}
.sale{
  padding: 5px 10px;
  top: 10px;
  left: 10px;
}
.date{
  margin: 0 0 20px;
}
.news__left__desc{
  margin-bottom: -50px;
}
.news__left{
  padding: 0 5px;
}
}

@media(max-width: 684px) {
  .container{
    max-width: 420px;
  }
}

@media(max-width: 576px) {
  .container {
      max-width: auto;
  }
}